@font-face {
  font-family: 'officina sans';
  font-weight: 400;
  font-style: normal;
  src:
    local('officina sans'),
    url('../fonts/officina-sans.woff2') format('woff2'),
		url('../fonts/officina-sans.woff') format('woff');
}

@font-face {
  font-family: 'officina sans';
  font-weight: 700;
  font-style: normal;
  src:
    local('officina sans'),
    url('../fonts/officina-sans-bold.woff2') format('woff2'),
		url('../fonts/officina-sans-bold.woff') format('woff');
}
