@tablet: 768px;
@small-desktop: 1024px;
@desktop: 1200px;
@large-desktop: 1440px;

@retina-1: 144dpi;
@retina-2: 1.5dppx;

@font-family: 'fira sans', 'trebuchet ms', sans-serif;

@font-size: 16px;
@mobile-font-size: @font-size * 0.9;
@desktop-font-size: @font-size * 1.2;
@large-desktop-font-size: @font-size * 1.5;

@line-height: 1.5;

@theme-color-1: #0776a0;
@theme-color-2: #ff8500;

@main-color: #444;
@rich-color: black;
@contrast-color: white;
@border-color: #dedede;
